/* Local styles for the planning specification viewer */
:root {
  --govuk-panel-bg-colour: #eeefef;
  --govuk-text-colour: 	#0b0c0c;
  --govuk-secondary-text-colour: #505a5f;
}

.app-section-card {
  background: var(--govuk-panel-bg-colour);
  padding: 15px;
}

/* overriding govuk styles to make it more prototype like */

.govuk-service-navigation {
  --border-colour: var(--govuk-secondary-text-colour);

  border-bottom-color: var(--border-colour) !important ;
  border-top: 1px solid var(--border-colour);
}

.govuk-service-navigation__item {
  border-color: var(--govuk-text-colour);
}

.govuk-service-navigation__link:not(:hover):not(:focus) {
  color: var(--govuk-text-colour);
}

.govuk-footer {
  border-top-color: var(--govuk-secondary-text-colour);
}
