/* Local styles for the planning specification viewer */
:root {
  --govuk-panel-bg-colour: #eeefef;
  --govuk-text-colour: 	#0b0c0c;
  --govuk-secondary-text-colour: #505a5f;
  --govuk-code-colour: #d4351c;
  --govuk-code-bg-colour: rgb(249, 248, 248);
  --govuk-border-colour: var(--govuk-text-colour);
}

.app-section-card {
  background: var(--govuk-panel-bg-colour);
  padding: 15px;
}

.app-code {
  display: inline-block;
  padding: 5px 10px;
  color: var(--govuk-code-colour);
  background-color: var(--govuk-code-bg-colour);
}

.app-secondary-text {
  color: var(--govuk-secondary-text-colour);
}

.app-field-details__attrs {
  border-bottom: 1px solid var(--govuk-border-colour);
}

.app-field-details__attrs + .app-secondary-text {
  margin-top: 5px;
}

.app-need-card--summary {
  border: 1px solid var(--govuk-border-colour);
  padding: 10px 15px;
}

/* overriding govuk styles to make it more prototype like */

.govuk-service-navigation {
  --border-colour: var(--govuk-secondary-text-colour);

  border-bottom-color: var(--border-colour) !important ;
  border-top: 1px solid var(--border-colour);
}

.govuk-service-navigation__item {
  border-color: var(--govuk-text-colour);
}

.govuk-service-navigation__link:not(:hover):not(:focus) {
  color: var(--govuk-text-colour);
}

.govuk-footer {
  border-top-color: var(--govuk-secondary-text-colour);
}
