click
requests
python-frontmatter
python-dotenv
openpyxl
jsonschema
markdown
# Pin black to keep parity between base and dev (pulled in via govuk-jinja-components)
black==25.1.0
digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
